* {
  font-family: "Roboto Mono", monospace;
}

body {
  min-height: 400px;
  background-color: #8a2be2;
}

.container {
  background-image: url("img/termometro.png");
  background-size: 20vh;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-align: center;
  padding: 20px;
  height: 90vh;
}

.main-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.box {
  font-size: 20px;
  width: 600px;
  height: 150px;
  padding: 5px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  color: #808080;
  box-shadow: rgba(0, 0, 0, 0.4) 0 5px 5px;
}

.box h2 {
  color: #000;
}

.box input {
  font-size: 20px;
  text-align: center;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  background: #e4e4e4;
}

button {
  font-size: 20px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 50px;
  border-style: none;
  background-color: #8a2be2;
  color: #fff;
}

button:hover {
  border: #8a2be2 solid 2px;
  background: none;
  color: #8a2be2;
}

.page-title {
  color: #ffffff;
  margin: 60px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
